<div class="form-actions">
  <div class="row">
    <ul class="pager wizard no-margin">
      <li class="previous">
        <a class="btn btn-xs btn-default"
           (click)="passoPassoInstance.previousStep(previousTabId)">
          Anterior
        </a>
      </li>
      <li class="next">
        <a class="btn btn-xs btn-success"
           style="background-color: green!important; float: right;"
           (click)="passoPassoInstance.finalizarStep(nextTabId)">
          Próximo
        </a>
      </li>
    </ul>
  </div>
</div>
